# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Debug files
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.exp

# Linker files
*.ilk

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build ouput
build-output/
*.err
*.wrn
*.log
out/

# Visual Studio Files
*.vs
*.user
*.sln
*.filters
*obj*

# VS Code Files
*.code-workspace
.vscode/

# Nuget Packages
packages/

# Build states
*.lastbuildstate
*.tlog
