<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<!-- directory where the nuget packages in this repository will be installed -->
		<add key="repositoryPath" value="packages" />
	</config>
	<packageRestore>
		<add key="enabled" value="true" />
		<add key="automatic" value="true" />
	</packageRestore>
	<packageSources>
		<clear />
		<add key="Nuget" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>