<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<!-- directory where the nuget packages in this repository will be installed -->
		<add key="repositoryPath" value="packages" />
	</config>
	<packageRestore>
		<add key="enabled" value="true" />
		<add key="automatic" value="true" />
	</packageRestore>
	<packageSources>
		<clear />
		<!--
			Only use one nuget feed due to security issue.
			If you need to add more feed, please add upstream feed to Data-SQL-Language-Extensions-Consumption feed.
			See below for more details
			https://www.1eswiki.com/wiki/How_to_Add_Upstream_Sources_to_Azure_Artifacts_Feed
			https://onebranch.visualstudio.com/OneBranch/_wiki/wikis/OneBranch.wiki/5150/Single-Consumption-Feed-Migration-CDPx-Manual-Migration-Guide
		-->
		<add key="Data-SQL-Language-Extensions" value="https://msazure.pkgs.visualstudio.com/_packaging/Data-SQL-Language-Extensions/nuget/v3/index.json" />
	</packageSources>
</configuration>