<?xml version="1.0" encoding="utf-8"?>
<packages>
<!-- When this is updated, we want to update package version in README and the projects that reference this package.-->
  <package id="Microsoft.googletest.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.8.0" targetFramework="native" />
  <package id="CMake" version="3.5.2"/>
</packages>