<?xml version="1.0" encoding="utf-8"?>
<packages>
<!-- When this is updated, we want to update package version in README and the projects that reference this package.-->
  <package id="Microsoft.googletest.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.8.1.3" targetFramework="native" />
  <package id="CMake-win64" version="3.15.5"/>
</packages>